/target
.delivery/cli.toml
.kitchen/
.kitchen.local.yml
.bundle
bin/
vendor/
/omnibus/local/
nodes/
local-mode-cache

# Cucumber Stuff
vendor/
.bundle/
bin/
tmp/
/cookbooks/delivery_rust/cookbooks/
/cookbooks/delivery_rust/nodes/
/omnibus/Berksfile.lock
/omnibus/Gemfile.lock
cookbooks/delivery_rust/Berksfile.lock
