/target
.delivery/cli.toml
.kitchen/
.kitchen.local.yml
.bundle
bin/
vendor/
/omnibus-delivery-cli/local/
nodes/
local-mode-cache

# Cucumber Stuff
vendor/
.bundle/
bin/
tmp/
/cookbooks/delivery_rust/cookbooks/
/cookbooks/delivery_rust/nodes/
